@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: 'bnpp-sans';
	src: url('../fonts/bnpp-sans.ttf') format('ttf');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'Open Sans';
	src: url('/fonts/OpenSans/OpenSans-VariableFont_wdth,wght.ttf')
		format('truetype');
	font-weight: 100 900;
	font-style: normal;
}

@font-face {
	font-family: 'Open Sans';
	src: url('/fonts/OpenSans/OpenSans-Italic-VariableFont_wdth,wght.ttf')
		format('truetype');
	font-weight: 100 900;
	font-style: italic;
}

:root {
	--background: #ffffff;
	--foreground: #171717;
}

@media (prefers-color-scheme: dark) {
	:root {
		--background: #0a0a0a;
		--foreground: #ededed;
	}
}

html {
	overflow-x: hidden;
	scroll-behavior: smooth;
}

body {
	color: var(--foreground);
	background: white;
	font-family: Arial, Helvetica, sans-serif;
	overflow-x: hidden;
	scroll-behavior: smooth;
}

@media (prefers-color-scheme: dark) {
	:root {
		--foreground-rgb: 255, 255, 255;
		--background-start-rgb: 0, 0, 0;
		--background-end-rgb: 0, 0, 0;
	}
}
